/* Очистка стилей */
* {padding: 0;margin: 0;border: 0;}
*,*:before,*:after {-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active {outline: none;}
a:focus,a:active {outline: none;}
nav,header,footer,aside {display: block;}
html,body {height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;
-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0;border: 0;}
a,a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul li {list-style: none;}
img {vertical-align: top;}
h1,h2,h3,h4,h5,h6 {font-size: inherit;font-weight: 400;}
/* Конец очистки стилей */

div.page {
	margin-left: 50px;
}

body {
	background-image: radial-gradient(circle farthest-corner at 10% 20%, rgba(199, 230, 216, 0.46) 0.1%, rgba(233, 226, 226, 0.28) 90.1%);
	height: 100%;
	font-family: Marmelad;
	font-size: 18px;
	line-height: 25px;
}

a {
	color: rgb(40, 33, 82);
	/* Цвет ссылок */
}

a:visited {
	color: rgb(40, 33, 82);
	/* Цвет посещенных ссылок */
}

a:active {
	color: rgb(40, 33, 82);
	/* Цвет активных ссылок */
}

a.menu {
	color: rgb(233, 233, 233);
	/* Цвет ссылок */
}

a.menu:visited {
	color: rgb(233, 233, 233);
	/* Цвет посещенных ссылок */
}

a.menu:active {
	color: rgb(233, 233, 233);
	/* Цвет активных ссылок */
}

h1.menu {
	padding-top: 30px;
	font-size: 35px;
	font-weight: bold;
	color: rgb(253, 253, 253);
	text-align: center;
	background-color: rgb(122, 29, 45);
	text-shadow: 3px 4px 3px black;
	height: 90px;
	border: 2px solid black;
	font-family: Rubik;
}


h3.content {
	padding: 30px 0 15px 0;
	font-size: 36px;
	font-weight: bold;
	color: rgb(40, 33, 82);
}

a.goto {
	display: inline-block;
	color: white;
	background-color: rgb(22, 49, 80);
	border-radius: 20px;
	font-size: 16px;
	height: 25px;
	width: 70px;
	margin-left: 10px;
}

a.goto:hover{
	background-color: rgb(121, 192, 224);
	color: black;
}

th.month{
	font-size: 25px;
	font-weight: bold;
	border: 3px solid black;
	line-height: 35px;
	background-color: #113e9e;
	color: aliceblue;
}

tr{
	
}

td.column-text{
	font-size: 20px;
	font-weight: bold;
}

td.goto-text{
	display: inline-block;
	font-weight: bold;
	font-size: 17px;
	width: 100px;
	text-align: center;
	vertical-align: middle;
	padding-top: 0px;
}

h2.text{
	font-size: 32px;
}

h3.topic{
	font-size: 28px;
}

u{
	font-size: 15px;
}

h5.subtopic{
	font-size: 19px;
}

