body {
  background-color: bisque;
}
.wrapper {
  margin: 25px;
  padding: 25px;
}

textarea {
  font-size: 16px;
  width: 400px;
  height: 150px;
}

button {
  height: 45px;
  width: 200px;
  font-size: 14px;
  background-color: green;
  color: whitesmoke;
  font-weight: bold;
  margin-top: 10px;
}

#finish-btn,
#next-btn {
  height: 30px;
  width: 100px;
  background-color: rgb(64, 64, 121);
}

button:active {
  background-color: chocolate;
}

#result {
  margin-top: 15px;
  font-weight: bold;
  font-size: 20px;
}
