.hover-example:hover {
  color: forestgreen;
}

.fruit:first-child:hover {
  color: brown;
}

.fruits:first-child > .fruit:last-child:hover {
  color: darkblue;
}

.animal:nth-child(4) {
  color: coral;
}

p::first-line {
  font-weight: bold;
}

p::first-letter {
  color: red;
  font-size: 30px;
}

.dinosaur:first-child::before {
  content: "\1f995";
}

.dinosaur::after {
  content: "";
  display: inline-block;
  background: url(https://d2zywfiolv4f83.cloudfront.net/img/teams/44.png) repeat;
  background-size: contain;
  height: 20px;
  width: 400px;
}
