body {
  background-color: #f5f5dc;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif,
    "Lucida Sans", Arial, sans-serif;
}

.wrapper {
  background-color: #e2a589;
  color: #252525;
  width: 700px;
  margin: 30px auto;
  border: 1px solid #e2a589;
  font-style: italic;
  text-transform: uppercase;
}

/* почему у хедера изначальный отступ */
.header {
  margin-top: -50px;
}

.header__title {
  height: 45px;
}

.header__title-text {
  font-weight: normal;
  padding: 40px 0 0 30px;
}

.header__subtitle {
  background-color: whitesmoke;
  text-transform: none;
  height: 50px;
}

.header__subtitle-text {
  color: darkred;
  font-size: 20px;
  padding: 25px 0 0 30px;
}

.news-block {
  padding-bottom: 15px;
}

.news-block__date {
  font-size: 25px;
  text-align: center;
  padding-bottom: 10px;
}

.news-block__container {
  background-color: whitesmoke;
  margin: 7px;
}

.news-block__container a,
a:visited {
  text-decoration: none;
  color: #252525;
}

.news-block__container a:hover {
  font-weight: bold;
}

.news-block__container .news-block__category {
  padding: 5px 0 0 5px;
  text-transform: none;
  font-style: normal;
  font-size: 15px;
  color: rgb(34, 34, 172);
  font-weight: bold;
}

.news-block__title {
  padding: 10px 0 0 30px;
}

.news-block__time {
  text-align: right;
  padding: 0 5px 5px 0;
}
